# These are the requirements for readthedoc
ipykernel
nbsphinx
sphinx_rtd_theme
pyyaml-include
pyyaml
docutils<=0.16.0
Pygments>=2.6.1
Sphinx>=3.3.1
setuptools>=51.0.0
alabaster>=0.7.12
sphinx-rtd-theme>=0.5.0
